html{}
body{
	align-content: center;
	text-align: center !important;
	margin:  0 auto;
	background-color: #666 !important;
	color: white;
}
p{
text-align: justify;
}
h5{
	color: white;
}
section{
	margin:  0 auto;
	text-align: center !important;
	width: 90%;
	margin-top: 50px;
	background-color: #666;

}


.materials{
	font-style: italic;
}

figcaption{
	color: #CCC;
}
figure{
	background-color: transparent;
}



.img-thumbnail{
	background-color: transparent !important;
    border: none !important;
}

.carousel{margin-top: 100px}

nav{

font-family: 'Poppins', sans-serif;
font-size: 14px !important;
text-transform: uppercase !important;
color: #000;
font-weight: bolder;
text-align: right !important;
}

#carouselExampleCaptions{
	width: 100%;

}

footer{
	margin-top: 100px;
	color: grey;
	text-align:center !important;
	display: block;
	padding: 50px;
}

footer p{
	text-align:center !important;
	color: white;
}

h1{
	color: white;
	font-family: Poppins;
	/*font-weight: lighter;*/
}

button{
	text-decoration: none;
}

button:focus {outline:0;}

form{
	max-width: 50%;
	margin: 0 auto;
}

.Contact{
	text-align: center;
}

.map{
	margin-top: 50px;
}
.invisibles img{width: 300px}

#invisPhoto {
	margin-top: 175px;
}

.invisibles{
	color: white;
	text-align: justified;
}
.invisCopy{
	margin-top: 75px;
}
.gradientFade{
	 background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.gallery img{
	max-width: 40%;
}
.artistspeak div{
	text-align: center !important;
	color: white;
}
section .press{
	color: white;
}
section p{
color: white;
}
section h3{
	color: white;
	text-align: left;
}


a{
	text-decoration: none;
	outline: none;
}
.press{
	width:  50%;
	text-align: center;
}
.press img{
	max-height: 200px;
}
.title{
	font-style: italic;
}

.article img{
	text-align: left;
}
.left{
	text-align: left;
}

.btn-primary {
	outline: none;
	border-color: white !important;
}

.artistsspeak{
	width: 100%;
}

.floatL{
	float:  left;
	width: 50%;
	display: inline-block;
}


.address{
	width: 500px;
	text-align: center;
	padding: 50px;
}

.address p{
	text-align: center;
}

.location{
	margin-top: 120px;
	height: 600px !important;
}

.col-sm{
	border:  1px solid white;
}

.form-conrtol{
	background-color: grey !important;
}


textarea::-webkit-input-placeholder {
color: white !important;
}
 
textarea:-moz-placeholder { /* Firefox 18- */
color: white !important;  
}
 
textarea::-moz-placeholder {  /* Firefox 19+ */
color: white !important;  
}
 
textarea:-ms-input-placeholder {  
color: white !important;  
}


input::-webkit-input-placeholder {
color: white !important;
}
 
input:-moz-placeholder { /* Firefox 18- */
color: white !important;  
}
 
input::-moz-placeholder {  /* Firefox 19+ */
color: white !important;  
}
 
input:-ms-input-placeholder {  
color: white !important;  
}

i{
	color: white;
	font-size: 24px;
	padding: 15px;
}