html{}
body{
	align-content: center;
	text-align: center !important;
	margin:  0 auto;
	background-color: #666 !important;
}
p{
text-align: justify;
}
section{
	margin:  0 auto;
	text-align: center !important;
	width: 80%;
	margin-top: 50px;
	background-color: #666;

}
nav{

font-family: 'Poppins', sans-serif;
font-size: 14px !important;
text-transform: uppercase !important;
color: #000;
font-weight: bolder;
text-align: right !important;
}

#carouselExampleCaptions{
	width: 100%;

}

footer{
	margin-top: 300px;
	color: grey;
}

h1{
	color: white;
}
